{% extends 'subscriptions/base.html' %}
{% block subscription_form %}
<form action="/subscription/" method="post">
  {% csrf_token %}
  <div class="form-group">
    {% if form.errors %}
      {{ form.errors }}
    {% endif %}
    <label for="exampleInputName">Name</label>
    <input type="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp"
      placeholder="Enter your Name" name="name">
    <small id="nameHelp" class="form-text text-muted">Enter your email</small>
  </div>
  <div class="form-group">
    <label for="exampleInputLastName">Last name</label>
    <input type="last" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
      placeholder="Enter your surname" name="last_name">
    <small id="lastNameHelp" class="form-text text-muted">Enter your last name</small>
  </div>
  <div class="form-group">
    <label for="exampleInputEmail">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail" aria-describedby="emailHelp"
      placeholder="Enter your email" name="email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}